nav.navbar.navbar-expand-md.navbar-dark.bg-info.shadow
  a.navbar-brand(href='index.html') 怒濤会
    img(src='img/four.png')
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  .collapse.navbar-collapse#navbarSupportedContent
    ul.navbar-nav.mr-auto
      li.nav-item
        a.nav-link(href='https://6711.teacup.com/dotou/bbs', target='_blank')
          | 掲示板
          i.fas.fa-external-link-alt
      li.nav-item
        a.nav-link(href='constitution.html') 会則
      li.nav-item
        a.nav-link(href='organization.html') 運営機構図
      li.nav-item
        a.nav-link(href='song.html') ボート部歌
      li.nav-item
        a.nav-link(href='inquiry.html') お問い合わせ
      li.nav-item
        a.nav-link(href='link.html') リンク