- var title = "怒濤会|トップページ"
- var description = "愛媛県立松山北高校ボート部 OB会のサイトです。"
include _layout
.alert.alert-warning.small.shadow
  | サイトリニューアル作業中です。旧サイトは
  a.alert-link(href='http://doto-kai.com/', target='_blank') こちら
  | です。
.content
  | 愛媛県立松山北高校ボート部OB会、
  ruby
    | 怒
    rt ど
    | 濤
    rt とう
    | 会
    rt かい
  | のサイトです。
  br
  br
  ul.list-group
    li.list-group-item 
      a(href='link.html') リンク
      |に全国高体連ボート専門部を追加しました。(2020年7月5日)
    li.list-group-item 
      | 怒濤会のサイトで
      a(href='https://6711.teacup.com/dotou/bbs') 掲示板
      | 以外のコンテンツが利用できなくなっていたため、内容を整理して再公開しました。(2020年7月4日)
  br
  | ※このサイトは松山北高等学校でなく、怒濤会が所有・管理しています。
  br
  | お問い合わせは学校ではなく、
  a(href='inquiry.html') こちら
  | から管理者へお願いします。
