- var title = "怒濤会|問い合わせ"
- var description = "管理者へ問い合わせを送信します。"
include _layout
.content
  .embed-responsive.embed-responsive-1by1
    iframe.embed-responsive-item(src='https://docs.google.com/forms/d/e/1FAIpQLScTaUwXMAsdF7MMncY1QJsU7vebXT7kCovd-9ipAHZDp2PLYg/viewform?embedded=true', frameborder='0', marginheight='0', marginwidth='0') 読み込んでいます…