- var title = "怒濤会|リンク"
- var description = "愛媛県立松山北高校ボート部の関連サイトへのリンクです。"
include _layout
.content
ul
  li
    a(href='https://matsuyamakita-h.esnet.ed.jp/', target='_blank') 愛媛県立松山北高等学校
  li
    a(href='https://www.jara.or.jp/', target='_blank') 日本ボート協会
  li
    a(href='https://www.ehimerowing.com/', target='_blank') 愛媛県ボート協会
  li
    a(href='http://hs-rowing.jp/', target='_blank') 全国高体連ボート専門部
  li
    a(href='http://www.rowing-boat.jp/index.htm', target='_blank') 月間ローイング