- var title = "怒濤会|運営機構図"
- var description = "怒濤会の運営機構図です。"
include _layout
.content
  h2 怒濤会運営機構図
  hr
  .text-center
    .row
      .col-12
        img.img-fluid(src='img/organization.gif')
    .row
      .col-12
        | ※2006年