- var title = "怒濤会|部歌"
- var description = "怒濤会の部歌を紹介しています。"
include _layout
.content
  h2 漕艇部歌
  hr
  .container
    .row 作詞： 松本 史良(漕艇部OB 北高3期)
    .row 作曲： 塩味 正夫(名古屋女学院高等学校教諭)
    .row 監修： 赤松 賢久(北中46期)
    .row.my-5.song
      .col-xl-6.bg-light.border
        .row.h4.py-4
          .col.text-center 第一部
        .row
          .col-md-1 一、
          .col-md-11 
            | 黒きおもてに厚き胸　鍛え鍛えし我が
            ruby 腕
              rt かいな
        .row.mb-4
          .col-md-1 
          .col-md-11 清きひとみに汚れなく　不屈のファイト奥に秘む
        .row
          .col-md-1 二、
          .col-md-11 ラストスパート何のその　キャッチフィニッシュあざやかに
        .row.mb-4
          .col-md-1
          .col-md-11 船ばた叩くさざ波の　声なき声を君聞くや
        .row
          .col-md-1 三、
          .col-md-11
            | 灼熱の陽に身をこがし　
            ruby 潮
              rt うしお
            | の香り肌にしむ
        .row.mb-4
          .col-md-1
          .col-md-11
            | 強き
            ruby 腕
              rt かいな
            | に固き意思　海にみがかん我が心
        .row
          .col-md-1 四、
          .col-md-11 吐血の思い噛みしめて　オールにすがれひとすじに
        .row.mb-4
          .col-md-1
          .col-md-11 汗と涙の凱歌こそ　スポーツの華ローイング
        .row
          .col-md-1 五、
          .col-md-11 悩みは深い青春の　夢と希望を一漕ぎに
        .row.mb-4
          .col-md-1
          .col-md-11 ラストスパート今ぞみよ　若きちかいのここにあり
        .row
          .col-md-1 六、
          .col-md-11 呼べばひびくよブレイドに　チームワークの頼もしさ
        .row.mb-4
          .col-md-1
          .col-md-11 ベストを尽くして涙する　わが青春に悔いはなし
        .row
          .col-md-1 七、
          .col-md-11
            | 流れは清し四十島　
            ruby 潮
              rt うしお
            | に乗りて帰る時
        .row.mb-4
          .col-md-1
          .col-md-11
            | 港ケ山に
            ruby 茜
              rt あかね
            | 射す　家路を辿る我が思い
        .row
          .col-md-1 八、
          .col-md-11 若き力よいざ行かん　世俗の塵を後に見て
        .row.mb-4
          .col-md-1
          .col-md-11 真夏の空のまひろさに　我が北高の旗かざし
      .col-xl-6.bg-light.border
        .row.h4.py-4
          .col.text-center 第二部
        .row
          .col-md-1 一、
          .col-md-11 ニンフささやく瀬戸の海　平和のねむり打ち破り
        .row.mb-4
          .col-md-1
          .col-md-11 今朝も出て行く伊予灘へ　我らは北高ボートマン
        .row
          .col-md-1 二、
          .col-md-11 青松白砂目にしみて　汗と力のローイング
        .row.mb-4
          .col-md-1 
          .col-md-11 戦いの日は近づきぬ　頑張れ北高ボートマン
        .row
          .col-md-1 三、
          .col-md-11 厳寒酷暑ものかはと　にぎるオールに血が通う
        .row.mb-4
          .col-md-1 
          .col-md-11 見よ若人のちかいこそ　北高ボートの征覇の日
        .row
          .col-md-1 四、
          .col-md-11 暮れる内海日に映えて　今ぞ勝利の鐘は鳴る
        .row
          .col-md-1 
          .col-md-11 今日の感激とこしえに　我らは北高ボートマン
    .row
      .col-xl-6.my-2
        img.border(src='img/song1.jpg')
      .col-xl-6.my-2
        img.border(src='img/song2.jpg')